# https://github.com/erutaso/THE-IDOL-MASTER-MOVIE/blob/master/THE%20IDOLM%40STER%20MOVIE%20%E8%BC%9D%E3%81%8D%E3%81%AE%E5%90%91%E3%81%93%E3%81%86%E5%81%B4%E3%81%B8%EF%BC%81.txt
movie_master.txt

imas_chroma_db/
